/dados/Grande_aleatorio.bin
/dados/Grande_crescente.bin
/dados/Grande_decrescente.bin
/dados/Medio_aleatorio.bin
/dados/Medio_crescente.bin
/dados/Medio_decrescente.bin
/dados/Pequeno_aleatorio.bin
/dados/Pequeno_crescente.bin
/dados/Pequeno_decrescente.bin
/codigo/*.exe